<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="ad.size" content="width={{width}},height={{height}}">

    <!-- Studio hosted libraries: https://support.google.com/richmedia/answer/6307288?hl=en -->
    <script src="https://s0.2mdn.net/ads/studio/Enabler.js" type="text/javascript"></script>
    <script src="https://s0.2mdn.net/ads/studio/cached_libs/tweenmax_2.0.1_min.js"></script>

    <!-- REMINDER - NO JQUERY ALLOWED IN BANNER ADS -->

    <style type="text/css">
        #adkit_container{display:none;}
        /* REMINDER: Add your styles to style.css, not here! */
    </style>

    <script language="javascript">
        // Initialize Enabler
        if (Enabler.isInitialized()) {
            init();
        } else {
            Enabler.addEventListener(studio.events.StudioEvent.INIT, init);
        }
        // Run when Enabler is ready
        function init(){
            // Load in Javascript
            if (Enabler.isPageLoaded()) {
                politeInit();
            } else {
                Enabler.addEventListener(studio.events.StudioEvent.PAGE_LOADED, politeInit);
            }
        }

        function politeInit() {
            // Load in Javascript
            var extJavascript = document.createElement('script');
            extJavascript.setAttribute('type', 'text/javascript');
            extJavascript.setAttribute('src', Enabler.getUrl('script.js'));
            document.getElementsByTagName('head')[0].appendChild(extJavascript);

            // Load in CSS
            var extCSS=document.createElement('link');
            extCSS.setAttribute('rel', 'stylesheet');
            extCSS.setAttribute('type', 'text/css');
            extCSS.setAttribute('href', Enabler.getUrl('style.css'));
            document.getElementsByTagName('head')[0].appendChild(extCSS);
            document.getElementById('adkit_container').style.display = 'block';
        }
    </script>

</head>

<body>
    <div id="adkit_container">
        <div id="adkit_content">
            <!-- ad content markup here -->
            <div id="bg"></div>
            {{divs}}
            <div id="logo"></div>
            <div id="cta">
                <div id="shine"></div>
            </div>
        </div>
        <button id="adkit_background_exit"></button>
    </div>
</body>

</html>
