<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="ad.size" content="width={{width}},height={{height}}">

    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
    <script>var clickTag = "http://clickthroughurl.com/";</script>

    <!-- Studio hosted libraries: https://support.google.com/richmedia/answer/6307288?hl=en -->
    <script src="https://s0.2mdn.net/ads/studio/cached_libs/tweenmax_2.0.1_min.js"></script>

    <!-- REMINDER: NO JQUERY ALLOWED IN BANNER ADS -->

    <style type="text/css">
        #adkit_container{display:none;}
        /* REMINDER: Add your styles to style.css, not here! */
    </style>
</head>

<body>
    <div id="adkit_container">
        <div id="adkit_content">
            <!-- ad content markup here -->
            <div id="bg"></div>
            {{divs}}
            <div id="logo"></div>
            <div id="cta">
                <div id="shine"></div>
            </div>
        </div>
        <button id="adkit_background_exit"></button>
    </div>
</body>

</html>
