@charset "utf-8";
/* CSS Document */
/* -------------------------------------------------------------------------- */
/* BASE AD - typically, we do not mess with this section
/* -------------------------------------------------------------------------- */
body, body * {
    vertical-align: baseline;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
}

/* Div layer for the entire banner. */
#adkit_container {
    position: absolute;
    width: {{width}}px;
    height: {{height}}px;
    border: #9b9b9b 1px solid;
    top: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    display: none;
}

#adkit_content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

/* Invisible button for background clickthrough. */
#adkit_background_exit {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 400;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

/* -------------------------------------------------------------------------- */
/* Your ad styles here */
